html {
    height: auto;
  }

body {
    background-attachment: fixed;
    background-image: linear-gradient(to right, #1d4350, #a43931);
    background-repeat: no-repeat;
    font-family: "Mulish", sans-serif;
}

.carousel{
    overflow: scroll;
    padding: 10px ;
    position: relative;
}

.carousel__container{
    margin: 70px 0px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.carousel-item{
    background-color: teal;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 300px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transform-origin: center left;  /*La animacion se centra, y comienza de izq a der*/
    transition: 400ms;
    width: 200px;
}

/* El selector ~ selecciona cualquier elemento .carousel-item que este despues
de un .carousel-item:hover  */

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}

/* Cuando se haga hover sobre el container, a .carousel-item se les aplica la
opacidad de 0.3 */

.carousel__container:hover .carousel-item{
    opacity: 0.3;
}

/* Cuando se haga hover sobre el container y el hover sea sobre un item, 
darle al item escala de 1.5 y opacidad de 1 */

.carousel__container:hover .carousel-item:hover{
    opacity: 1;
    transform: scale(1.5);
}

.carousel-item__img{
    height: 300px;
    object-fit: cover;
    width: 200px;
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 450ms opacity;
}

.carousel-item__details img{
    height: 30px;
    margin: 200px 5px 0px 0px;
}

.carousel-item__details p{
    margin: 2px;
}

.carousel-item__details:hover{
    opacity: 1;
}

.categories__title{
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.footer{
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
}

.footer a{
   color: white;
   font-size: 14px; 
   padding-left: 20px;
   text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.header__img {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
}

/* Cuando hacemos hover sobre el bloque header menu, todas las ul tendran
la propiedad establecida, y tambien al hacer hover sobre las ul, se 
mantendra la propiedad */

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    color: white;
    margin: 0px;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.main__title {
    color: white;
    font-size: 25px;
    text-align: center;
}

::placeholder{
    color: white;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.4);
    border-radius: 4px;
  }
  ::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar:hover:active {
    background: #999;
  }
