html {
    height: auto;
  }

body {
    background-attachment: fixed;
    background-image: linear-gradient(to right, #1d4350, #a43931);
    background-repeat: no-repeat;
    font-family: "Mulish", sans-serif;
}

.error{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 200px);
    text-align: center;
    width: 100%;
}

.error__container{
    color: white;
}

.error__container--num{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: pulse;
    font-size: 100px;
    margin: 10px;
}

@keyframes pulse{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.footer{
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
}

.footer a{
   color: white;
   font-size: 14px; 
   padding-left: 20px;
   text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.header {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.header__img {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
}

/* Cuando hacemos hover sobre el bloque header menu, todas las ul tendran
la propiedad establecida, y tambien al hacer hover sobre las ul, se 
mantendra la propiedad */

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    color: white;
    margin: 0px;
}