<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrousel 1</title>
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/4264048/pexels-photo-4264048.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Coffee shop">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Coffee shop</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/1752806/pexels-photo-1752806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Morning cup of coffee">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Morning cup of coffee</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="VR">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">VR</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/2708981/pexels-photo-2708981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Retro gaming">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Retro gaming</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/730656/pexels-photo-730656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Drum set">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Drum set</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/3608804/pexels-photo-3608804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Drummer">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Drummer</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/2350325/pexels-photo-2350325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="DJ">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">DJ</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/1694908/pexels-photo-1694908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="DJ 1">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">DJ B&W</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img"src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Cat">
                <div class="carousel-item__details">
                    <div>
                        <img src="./assets/play-icon.png" alt="">
                        <img src="./assets/plus-icon.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Kitty</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>